@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px !important;
  color:rgba(0,0,0,0.8);
  overflow-x: hidden;
}
::-webkit-scrollbar{width: 8px;height: 8px;}
::-webkit-scrollbar-thumb{background: #ccc;}
::-webkit-scrollbar-track{background: transparent;}
.bg-blue{background: #233a95;}
@media (min-width:1300px) {
  .container .container-lg .container-md .container-sm .container-xl{
    max-width: 1200px;
  }
}
button{text-transform: capitalize !important;}
.cursor{cursor: pointer;}
.headerWrapper{border-bottom: 1px solid rgba(0,0,0,0.1);}
.btn-sml{font-size: 12px !important; color: #000 !important; text-transform: capitalize !important;}
.btn-sml svg{font-size: 20px;}
.headerWrapper .top-strip{
  padding: 8px 0;
}
.text-sm{font-size: 14px;}
.subtext{color: #8b8b8b !important;}
.headerWrapper .top-strip p{
  color:#fff;
  font-size: 15px;
  font-weight: 700;
  margin-left: 310px;
}
.headerWrapper .header{
  width: 100%;
  height: auto;
  padding: 15px 0px;
}
.logoWrapper img{
  width: 100%;
}
.headerWrapper .contryDrop1 .header .part2 .contryDrop{
  width: 150px;
  height: 60px;
  min-width: 150px;
  color: black;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 7px;
  padding: 10px 10px;
}
.headerWrapper .header .part2 .contryDrop{
text-align: left !important;
  justify-content: flex-start !important;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px 10px;
  border-radius: 10px;
}
.headerWrapper .header .part2 .contryDrop .label{
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0,0,0,0.5) !important;
  line-height: 16px;
}
.headerWrapper .header .part2 .contryDrop .name{
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}
.headerWrapper .header .part2 .contryDrop span.ml-auto svg{
  opacity: 0.7;
}
.headerSearch{
  position: relative;
  width: 100% !important;
  height: 60px;
  background: #f3f4f7;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 15px; 
}
.location-search{
  width: 95% !important;
}
.down-arrow{
  margin-left: inherit;
}
.headerSearch input{
  background: transparent !important;
  outline: none !important;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  width: 100%;
  height: 40px;
  border: 0;
  padding: 0 20px;
  
}
.headerSearch Button{
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
  min-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: black;
}
.headerSearch Button svg{
  font-size: 30px;
}
.down-arrow{
  margin-left: auto;
}
.part3 .circle{
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  color: #000 !important;
  margin: 0 12px;
}
.part3 .circle svg{
  font-size: 25px;
}
.cartTab .price{
  font-size: 18px;
  color: rgba(0,0,0,0.8);
  font-weight: 700;
}

.locationModel .MuiPaper-elevation{padding: 18px;}
.cartTab Button{
  background: #fff1ee;
}
.cartTab Button svg{
  color:#ea2b0f;
}
.cartTab .count{
  position: absolute;
  top: -4px;
  right: 13px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
 width: 15px;
 height: 15px;
}
nav .allCatTab{
  background: #2bbef9;
  padding: 8px 30px;
  border-radius: 30px;
}
nav .allCatTab *{
  color: #fff;
}
nav .allCatTab:hover{
  background: #2bbef9;
}
nav .allCatTab .text{
  font-weight: 600;
}
nav .allCatTab .icon1 svg{font-size: 20px; margin-right: 6px;}
nav .allCatTab .icon2 svg{font-size: 15px;margin-left: 6px;}
nav .navPart1 .catWrapper{position: relative;}
nav .navPart1 .catWrapper .sidebarNav{width: 100%; height: 0px; opacity: 0; background: #fff; position: absolute; top:170%; left: 0px; border: 1px solid rgba(0,0,0,0.1) !important; padding: 15px 0px; transition: all 0.2s ease-in-out; visibility: hidden; z-index: 100;}
nav .navPart1 .catWrapper .sidebarNav.open{height: auto; opacity: 1; visibility: inherit;}
nav .navPart1 .catWrapper .sidebarNav ul li{position: static;}
nav .navPart1 .catWrapper .sidebarNav ul li .submenu{position: absolute; top:0px; left: 100%; width: 250px; height: 100%; background: #fff; z-index: 100; opacity: 0; visibility: hidden; transition: all 0.2s ease-in-out; border-left: 1px solid rgba(0,0,0,0.1);}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu{opacity: 1; visibility: inherit; left: 100%; padding: 20px;}
nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu button{border-radius:0px;}


nav .navPart1 .catWrapper .sidebarNav li{width: 100%; list-style: none; padding: 0px 15px;}
nav .navPart1 .catWrapper .sidebarNav li button{color:#000; width: 100%; justify-content: flex-start; text-transform: capitalize;}
nav .navPart1 .catWrapper .sidebarNav li button svg{font-size: 13px; opacity: 0.8;}
nav .navPart1 .catWrapper .sidebarNav li button:hover{background: transparent;}
nav .navPart2 ul{margin-bottom: 0px; margin-left: auto;}
nav .navPart2 ul li a button{font-size: 16px;  font-family: 'Dosis', sans-serif !important; font-weight: 500; text-decoration: none;color:rgba(0,0,0,0.8);text-transform: uppercase; display: flex; align-items: center;padding: 10px 18px; transition: all 0.2s ease-in-out;border-radius: 20px;}
nav .navPart2 ul li {padding-bottom: 20px;}
nav .navPart2 ul li a:hover {
    background: #f0faff;
    color: #2bbef9;
}
nav .navPart2 ul li a{text-decoration: none;}
nav .navPart2 ul li a .submenu a{
  border-radius: 0;
  text-transform: capitalize;
}

.locationModel .countryList{margin-bottom: 0px;}
.locationModel .countryList li{width: 100%; list-style: none;max-height: 400px; overflow-y: scroll; overflow-x: hidden;}
.locationModel .countryList button{width: 100%;text-transform: capitalize;color: #000; justify-content: flex-start; padding: 10px 15px;}
.locationModel .countryList button.active{
  background: #e2e2e2;
}
.close{
  font-size: 35px !important;
  color: #000 !important;
  position: absolute !important;
  top: 20px !important;
  right: 10px !important;
}
nav .navPart2 ul li{position: relative;}
nav .navPart2 ul li .submenu{position: absolute; top: 150%; left:0px; min-width: 200px; opacity: 0; visibility: hidden; transition: all 0.2s ease-in-out; background: #fff; z-index: 100;}
nav .navPart2 ul li .submenu a{display: block; width: 100%; text-transform: capitalize;}
nav .navPart2 ul li .submenu a button{display: block; width: 100%; text-transform: capitalize; justify-content: flex-start !important;} 
nav .navPart2 ul li .submenu a button:hover{background: #f1f1f1;}
nav .navPart2 ul li:hover .submenu{opacity: 1;visibility: inherit;top: 100%;}

.homebannerSection{position: relative; overflow: hidden;}
.homebannerSection *{outline: none !important;}
.homebannerSection .slick-arrow{position: absolute; top: 48%; z-index: 100; display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; background: #fff; border-radius: 100%; font-family: FontAwesome;}
.homebannerSection .slick-arrow.slick-next{left:9px;}
.homebannerSection .slick-arrow.slick-prev{left:1305px; top: 48%;}
.homebannerSection .slick-arrow.slick-next::before{font-family: FontAwesome; content: "\f104"; color: #000;}
.homebannerSection .slick-arrow.slick-prev::before{font-family: FontAwesome; content: "\f105"; color: #000;}
.right-angle{
  margin-left: auto;
}
.homeProducts{padding: 25px 0px; width: 100%;}
.homeProducts .banner{width: 100%; border-radius: 7px; overflow: hidden;}

.hd{font-size: 20px; font-weight: 600; text-transform: uppercase;}
.viewAllBtn{padding: 5px 25px !important; background: #fff !important; border:1px solid rgba(0,0,0,0.1) !important; margin-left: auto !important; border-radius: 30px !important; color: #817e7e !important; font-weight: 500 !important; text-transform: capitalize !important;}
.viewAllBtn svg{font-size: 20px;}

.productItem{width: 100% ; height: auto; border: 1px solid rgba(0,0,0,0.2); cursor: pointer;}
.slick-next:before {color: #000;}
.slick-prev:before{color: #000;}
.productRow .slick-arrow.slick-next::before{font-family: FontAwesome; content: "\f105"; color: #000;}
.productRow .slick-arrow.slick-prev::before{font-family: FontAwesome; content: "\f104"; color: #000;}
.productItem .info h4{font-size: 15px; font-weight: 600;}
.productItem .info{padding: 15px;}
.info .oldPrice{font-size: 16px; font-weight: bold; color: rgba(0,0,0,0.2); text-decoration: line-through;}
.info .oldPrice.lg{font-size: 20px !important;}
.info .netPrice{font-size: 16px; font-weight: bold; margin-left: 25px;}
.info .netPrice.lg{font-size: 20px;}
/* .productRow .productItem {border-right: 1px solid transparent;} */
.productRow .swiper-slide:last-child .productItem {border-right: 1px solid rgba(0,0,0,0);}
.swiper{padding-right: 1px;}
.badge{color: #fff !important; background: #2bbef9 !important;}
.productItem .actions{right: -100%; transition:all 0.3s ease-in-out;}
.productItem .actions button {display: flex; align-items: center; justify-content: center; min-width: 40px !important; height: 40px !important; width: 40px !important; border: 1px solid rgba(0,0,0,0.1) !important; border-radius: 50%; background: #fff; transition: all 0.0s; opacity: 0;}
.productItem .actions button svg{color: #000; opacity: 0.7; font-size: 20px !important; z-index: 100 !important; pointer-events: none;}
.productItem .actions button:hover{background: #233a95;}
.productItem .actions button:hover svg{color: #fff;}
.productItem .imgWrapper{overflow: hidden;}
.productItem .imgWrapper:hover .actions button{transition: all 0.3s ease-in-out; opacity: 1; right: 10px;}
.productItem .imgWrapper:hover img{transform: scale(1.1);}
 
.homeCat{padding: 35px 0px;}
.homeCat .swiper{overflow: inherit !important;}
.homeCat .swiper .item{padding: 15px; width: 100%; height: auto; background: #feefea; border-radius: 10px;}
.homeCat .swiper .item img{width: 80%;}
.homeCat .swiper-button-next::after {
  font-family: FontAwesome !important;
  content: "\f105"!important;
  color: #000;
  border-radius: 100%;
  background: rgb(254, 239, 234);
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 0px 14px;
}
.homeCat .swiper-button-prev::after {
  font-family: FontAwesome !important;
  content: "\f104"!important;
  color: #000 !important;
  border-radius: 100%;
  background: rgb(254, 239, 234);
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 0px 14px;
}
.product_row .swiper-button-prev::after {
  font-family: FontAwesome !important;
  content: "\f104"!important;
  color: #000 !important;
  border-radius: 100%;
  background: rgb(254, 239, 234);
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 0px 16px;
}
.product_row .swiper-button-next::after {
  font-family: FontAwesome !important;
  content: "\f105"!important;
  color: #000 !important;
  border-radius: 100%;
  background: rgb(254, 239, 234);
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 0px 17px;
}
.homeCat .swiper-button-prev::after{font-family: FontAwesome !important;content: "\f104"!important;color: #000;}
.homeCat .swiper-button-next, .homeCat .swiper-button-prev{top:-30px !important;}
.homeCat .swiper-button-prev{right: 68px !important; left: inherit !important;}

.homeCat .swiper-button-next::after, .homeCat .swiper-button-prev::after {
  font-size: 22px;
  padding-top: 10px;
}
.product_row .swiper-button-next::after, .product_row .swiper-button-prev::after {
  font-size: 22px;
  padding-top: 9px;
}
.homeCat .swiper-button-next::after{padding-left: 15px;}
.product_row2{flex-wrap: wrap; gap: 10px;}
.product_row2 .productItem{width: 24%; overflow: hidden; border-right: 1px solid rgba(0,0,0,0.1) !important;}
.bannerSec{gap: 15px;}
.sticky{position: sticky; top:10px; z-index: 100;}
.newsLetterSection{width: 100%;height: auto; background: #283a91; position: relative; overflow: hidden; padding: 70px 0px;}
.newsLetterSection p{font-size: 18px !important; margin: 10px 0px !important;}
.newsLetterSection h3{font-size: 35px !important; font-weight: bold;}
.newsLetterSection .text-light{color: #fff!important; opacity: 0.5; font-size: 15px;}
.newsLetterSection img{position: absolute; bottom: 0px; right: 0px;}
.newsLetterSection form{width: 100%; height: 60px; background: #fff; padding: 10px; position: relative; border-radius: 5px;}
.newsLetterSection form svg{position: absolute; top: 17px; left: 15px; font-size: 25px; color: #000; opacity: 0.5;}
.newsLetterSection form input{width: 100%; height: 100%; outline: none!important; border: 0px!important; padding: 0px 50px; font-size: 16px; outline: none; padding-left: 40px; padding-right: 200px; }
.form-control:focus{border: 0px!important; box-shadow: none!important;}
.newsLetterSection form button {
  position: absolute !important;
  top: 5px;
  right: 7px;
  width: 150px;
  height: 84%;
  background: #283a91;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 25px !important;
  text-transform: capitalize;
}

footer{width: 100%; height: 500px; margin: auto; background: #fff; padding: 25px 0px;}
footer .top-info {border-bottom: 1px solid rgba(0,0,0,0.1); padding-bottom: 25px;}
footer .top-info .col {padding: 10px 15px;padding-left: 40px; border-right: 1px solid rgba(0,0,0,0.1);}
footer .top-info .col:last-child{border-right: 0px;} 
footer .top-info .col svg{font-size: 26px;}
footer .top-info .col span{font-size: 14px; margin-left: 10px; font-weight: 600;}

footer .linksWrap h5{font-size: 17px; margin-bottom: 20px; font-weight: 600;}
footer .linksWrap ul li{list-style: none; margin-bottom: 10px;}
footer .linksWrap ul li a{color:#71778e; font-size: 14px; text-decoration: none;}
footer .linksWrap ul li a:hover{text-decoration: none;}
footer .copyright ul li a svg{font-size: 18px; color: rgba(0,0,0,0.8);}
footer .copyright ul {margin-left: auto !important; margin-bottom: 0px !important;}

footer .copyright ul li a{display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; background: #fff; border-radius: 50%; margin-left: 10px; width: 40px; height: 40px; border-radius: 50%; border: 1px solid rgba(0,0,0,0.2); transition: all 0.3s;}
footer .copyright ul li a:hover{background: #2bbef9;} 
footer .copyright ul li a:hover svg{color: #fff;} 
.popup-title{font-weight: bold !important;}
.productModel .popup-title{font-size: 22px !important; margin-bottom: 12px !important; color: rgba(0,0,0,0.7);}
.productModel .popup-brand{margin-left: 6px !important;}
.productModel .MuiPaper-elevation{padding: 25px !important; position: relative; width: 100% !important; max-width: 900px !important; max-height: 900px !important;}
.productModel .rating{margin: 0 20px;}

.badge{display: inline-block !important; padding: 7px 10px !important;}
.badge.bg-success{color:#00b853 !important; background: #e5f8ed!important; font-weight: 600 !important; font-size: 12px !important; border-radius: 1.875rem !important; text-transform:uppercase;}

.btn-blue{background:#233a95 !important; text-transform: capitalize !important;}
.btn-big{font-size: 15px !important; padding: 10px 20px !important;}
.btn-round{border-radius: 30px !important;}

.quantity-dropdown{width: 150px; gap: 10px;}
.quantity-dropdown button{min-width: 40px !important; width: 40px; height: 40px !important; border-radius: 50% !important; background: #edeef5 !important; border: 1px solid rgba(0,0,0,0.1) !important; }
.quantity-dropdown button svg{font-size: 20px!important; color: #000!important;}
.quantity-dropdown input{width: 40px!important; height: 40px!important; background: transparent; border: 1px solid rgba(0,0,0,0.1)!important; border-radius: 50%!important; outline: none !important; text-align: center !important; padding-left: 8px;}

.productModel .actions button{color: #000 !important; border: 1px solid rgba(0,0,0,0.1) !important;}
.productDetailModal .compare-btn{margin-left: 10px !important;}
.productDetailModal .badge{position: relative;}

.product_listing_page{padding: 35px 0px;}
.product_listing_page .product_listing{gap:20px;}
.product_listing_page .product_listing .sidebar{width: 20%; flex: 0 0 20%;}
/* .product_listing_page .product_listing .sidebar .sticky{position: sticky; top: 10px;} */
.product_listing_page .product_listing .sidebar .filterBox h5{font-weight: 700; font-size: 17px; text-transform: uppercase;}
.product_listing_page .product_listing .sidebar .filterBox {margin-bottom: 15px;}
.product_listing_page .product_listing .sidebar .scroll{padding-left: 5px; max-height: 250px; overflow-y: scroll; overflow-x: hidden;}
.product_listing_page .product_listing .sidebar .scroll::--webkit-scrollbar{width: 5px; height: 5px;}
.product_listing_page .product_listing .sidebar .scroll ul li{list-style: none; margin-bottom: 0px; width: 100%;}

.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root{padding: 3px!important;}
.css-rizt0-MuiTypography-root{font-size: 13px !important;}
.css-1umw9bq-MuiSvgIcon-root{color: #233a95;}
.range-slider .range-slider__range, .range-slider .range-slider__thumb{background: #233a95 !important;}
.range-slider .range-slider__thumb{width: 20px!important; height: 20px!important;}
.showBy{width: 100%; height: 50px; background: #f7f8fd;}

.product_listing_page .product_listing .contant_right{width: 80%; flex: 0 0 80%; padding-left: 35px;}
.product_listing_page .product_listing .contant_right .showBy {width: 100%; height: auto; background: #f1f3ff; padding: 15px 25px;}
.product_listing_page .product_listing .contant_right .showBy .btnWrapper button{min-width: 35px !important; height: 35px !important; width: 35px !important; height: 35px !important; border-radius: 50% !important; color: #000 !important;}
.product_listing_page .product_listing .contant_right .showBy .btnWrapper button svg{font-size: 20px!important; color: #000 !important; opacity: 0.5 !important;}
.product_listing_page .product_listing .contant_right .showBy .btnWrapper button:hover svg{opacity: 1 !important;}
.contant_right .product-counter{margin-left: auto!important;}
.showByFilter button{min-width: auto !important; color: #000 !important; }
.showByFilter{margin-left: auto!important;}
.showByFilter button svg{font-size: 15px!important; color: #000 !important; opacity: 0.6; margin-left: 5px;}
.showPerPageDropdown .MuiList-root{width: 100% !important;}
.content_right .showBy .btnWrapper button{min-width: 35px !important; height: 35px !important; width: 35px !important; height: 35px !important; border-radius: 50% !important; color: #000 !important;}
.content_right .showBy .btnWrapper button svg{color:#000 !important;}
.product_item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.productItem.one .imgWrapper{width: 25%;}
/* One column */
.product_item.one > * {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
}

/* Two columns */
.product_item.two > * {
  flex: 1 1 calc(50% - 20px);
}

/* Three columns */
.product_item.three > * {
  flex: 1 1 calc(33.333% - 20px);
}

/* Four columns */
.product_item.four > * {
  flex: 1 1 calc(25% - 20px);
}
